<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="/style.css">
    
  </head>
  <body>

    <div class="container">

        <h1 class="font-weight-light text-center text-lg-left mt-4 mb-0">Thông Tin Thực Tập Sinh InFore</h1>
        <br>
        <a href="/register" style="padding: 5px;border: 3px; border-color: cornflowerblue; color: cornflowerblue;text-decoration: none; border: 5px;background-color: yellow;">REGISTER</a>
        
        <hr class="mt-2 mb-5">
        <div class="row text-center text-lg-left">

          <div class="col-lg-3 col-md-4 col-6">
            <input type="button" name="view" value="View"  class="btn btn-info btn-xs view_data" id="1"/>
             <input type="button" name="view" value="Update"  class="btn btn-info btn-xs update_data" id="1"/>
            <a href="#" class="d-block mb-4 h-100">
                  <img class="img-fluid img-thumbnail" src="image/image_men.png" alt="" >
                </a>
                
          </div>
          <div class="col-lg-3 col-md-4 col-6">
            <input type="button" name="view" value="View"  class="btn btn-info btn-xs view_data" id="2"/>
            <input type="button" name="view" value="Update"  class="btn btn-info btn-xs update_data" id="2"/>
            <a href="#" class="d-block mb-4 h-100">
                  <img class="img-fluid img-thumbnail" src="image/image_men.png" alt="" >
                </a>
          </div>
          <div class="col-lg-3 col-md-4 col-6">
            <input type="button" name="view" value="View"  class="btn btn-info btn-xs view_data" id="3"/>
            <input type="button" name="view" value="Update"  class="btn btn-info btn-xs update_data" id="3"/>
            <a href="#" class="d-block mb-4 h-100">
                  <img class="img-fluid img-thumbnail" src="image/image_men.png" alt="">
                </a>
          </div>
          <div class="col-lg-3 col-md-4 col-6">
            <input type="button" name="view" value="View"  class="btn btn-info btn-xs view_data" id="4"/>
            <input type="button" name="view" value="Update"  class="btn btn-info btn-xs update_data" id="4"/>
            <a href="#" class="d-block mb-4 h-100">
                  <img class="img-fluid img-thumbnail" src="image/image_men.png" alt="">
                </a>
          </div>
          <div class="col-lg-3 col-md-4 col-6">
            <input type="button" name="view" value="View"  class="btn btn-info btn-xs view_data" id="5"/>
            <input type="button" name="view" value="Update"  class="btn btn-info btn-xs update_data" id="5"/>
            <a href="#" class="d-block mb-4 h-100">
                  <img class="img-fluid img-thumbnail" src="image/image_men.png" alt="">
                </a>
                
          </div>
          <div class="col-lg-3 col-md-4 col-6">
            <input type="button" name="view" value="View"  class="btn btn-info btn-xs view_data" id="6"/>
            <input type="button" name="view" value="Update"  class="btn btn-info btn-xs update_data" id="6"/>
            <a href="#" class="d-block mb-4 h-100">
                  <img class="img-fluid img-thumbnail" src="image/image_men.png" alt="">
                </a>
               
          </div>
          <div class="col-lg-3 col-md-4 col-6">
            <input type="button" name="view" value="View"  class="btn btn-info btn-xs view_data" id="7"/>
            <input type="button" name="view" value="Update"  class="btn btn-info btn-xs update_data" id="7"/>
            <a href="#" class="d-block mb-4 h-100">
                  <img class="img-fluid img-thumbnail" src="image/image_men.png" alt="">
                </a>
          </div>
          <div class="col-lg-3 col-md-4 col-6">
            <input type="button" name="view" value="View"  class="btn btn-info btn-xs view_data" id="8"/>
            <input type="button" name="view" value="Update"  class="btn btn-info btn-xs update_data" id="8"/>
            <a href="#" class="d-block mb-4 h-100">
                  <img class="img-fluid img-thumbnail" src="image/image_men.png" alt="">
                </a>
          </div>
          <div class="col-lg-3 col-md-4 col-6">
            <input type="button" name="view" value="View"  class="btn btn-info btn-xs view_data" id="9"/>
            <input type="button" name="view" value="Update"  class="btn btn-info btn-xs update_data" id="9"/>
            <a href="#" class="d-block mb-4 h-100">
                  <img class="img-fluid img-thumbnail" src="image/image_men.png" alt="">
                </a>
          </div>
          <div class="col-lg-3 col-md-4 col-6">
            <input type="button" name="view" value="View"  class="btn btn-info btn-xs view_data" id="10"/>
            <input type="button" name="view" value="Update"  class="btn btn-info btn-xs update_data" id="10"/>
            <a href="#" class="d-block mb-4 h-100">
                  <img class="img-fluid img-thumbnail" src="image/image_men.png" alt="">
                </a>
          </div>
          
          <div class="col-lg-3 col-md-4 col-6">
            <input type="button" name="view" value="View"  class="btn btn-info btn-xs view_data" id="11"/>
            <input type="button" name="view" value="Update"  class="btn btn-info btn-xs update_data" id="11"/>
            <a href="#" class="d-block mb-4 h-100">
                  <img class="img-fluid img-thumbnail" src="image/image_men.png" alt="">
                </a>
          </div>
          <div class="col-lg-3 col-md-4 col-6">
            <input type="button" name="view" value="View"  class="btn btn-info btn-xs view_data" id="12"/>
            <input type="button" name="view" value="Update"  class="btn btn-info btn-xs update_data" id="12"/>
            <a href="#" class="d-block mb-4 h-100">
                  <img class="img-fluid img-thumbnail" src="image/image_women.png" alt="" style=" width: 255px;height: 255px;">
                </a>
          </div>
        </div>
        
         
     <div id="dataModal" class="modal fade">
      <div class="modal-dialog">
       <div class="modal-content">
        <div class="modal-header">
            <h4 style="color: seagreen;">Thông tin chi tiết</h4>
         <button type="button" class="close" data-dismiss="modal">&times;</button>
         
        </div>
        <div class="modal-body" id="employee_detail">
         
        </div>
        <div class="modal-footer">
         <button type="button"style="color:red;" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
       </div>
      </div>
     </div>

     <div id="dataModal_sua" class="modal fade">
 <div class="modal-dialog">
  <div class="modal-content">
   <div class="modal-header">
    
    <h4 class="modal-title">Sửa Thông Tin Thực Tập Sinh</h4>
   </div>
   <div class="modal-body" id="employee_detail_sua">
    
   </div>
   <div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
   </div>
  </div>
 </div>
</div>
    <!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="/ajax.js"></script>
<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
  </body>
</html>